@charset "UTF-8";
:root {
  --primary-text-color: #2196f3;
  --title-text-color: #757575;
  --accent-color: #212121;
  --primary-background: #e5e5e5;
  --main-tetle-text: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-common {
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.body {
  color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container__nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin: 0;
}

.nav__link:active {
  color: var(--primary-text-color);
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--primary-text-color);
}

.nav__link:active::after,
.nav__link:focus::after {
  opacity: 0;
}

.nav__link--active:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-text-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.nav__link--current {
  color: #2196f3;
}

/*контакты хедер*/
.header-contacts {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  margin-right: 50px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:last-child {
  margin-right: 0;
}

a:hover .contacts__icon--mail {
  fill: var(--primary-text-color);
}

a:focus .contacts__icon--mail {
  fill: var(--primary-text-color);
}

a:hover .contacts__icon--phone {
  fill: var(--primary-text-color);
}

a:focus .contacts__icon--phone {
  fill: var(--primary-text-color);
}

.contacts__phone,
.contacts__mail {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__phone:hover,
.contacts__phone:focus,
.contacts__mail:hover,
.contacts__mail:focus {
  color: var(--primary-text-color);
}

/*кнопка заказать услугу*/
.hero__button {
  color: var(--main-tetle-text);
  background-color: var(--primary-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  min-height: 581px;
  min-width: 528px;
  background-color: var(--main-tetle-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: #ffffff;
}

.buttom__close:before,
.buttom__close:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 4px;
  width: 20px;
  height: 2px;
  background: #000000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom__close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buttom__close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.buttom__close:hover::before {
  background-color: var(--primary-text-color);
}

.buttom__close:hover::after {
  background-color: var(--primary-text-color);
}

.buttom__close:focus::before {
  background-color: var(--primary-text-color);
}

.buttom__close:focus::after {
  background-color: var(--primary-text-color);
}

.form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--title-text-color);
}

.form__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form__field:focus-within {
  fill: #2196f3;
}

.form__user {
  position: absolute;
  top: 107px;
  left: 56px;
  width: 12px;
  height: 12px;
}

.form__phone {
  position: absolute;
  top: 174px;
  left: 55px;
  width: 13px;
  height: 13px;
}

.form__mail {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 243px;
  left: 54px;
}

.form__name {
  display: block;
  height: 40px;
  position: relative;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
  color: var(--accent-color);
}

.form label {
  margin-bottom: 4px;
}

.form input {
  margin: 0;
  padding: 6px 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

input:focus {
  border: 1px solid var(--primary-text-color);
}

.form input::placeholder {
  padding-left: 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--title-text-color);
  margin-bottom: 30px;
  display: flex;
}

.form__agree input {
  margin-right: 8px;
}

.form__agree label {
  display: flex;
  align-items: center;
}

textarea:focus {
  border: 1px solid var(--primary-text-color);
}

.form__comment {
  padding: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .form__lable {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../image/modal/check.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.visually-hidden:focus + .form__lable {
  border-color: #2196f3;
}

.form__lable {
  display: inline-block;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.button__send {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-tetle-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.form__link {
  color: #2196f3;
  text-decoration: underline;
}

/*секция особенности*/
.plan {
  padding-top: 94px;
  padding-bottom: 94px;
}

.plan__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.plan__list {
  display: flex;
}

.plan__item {
  width: 270px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.7;
}
.plan__item:last-child {
  margin-right: 0;
}

.plan__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.plan__icon::before {
  background-image: url("../image/icon/antenna.svg");
}

.plan__vector::before {
  background-image: url("../image/icon/clock.svg");
}

.plan__diagram::before {
  background-image: url("../image/icon/diagram.svg");
}

.plan__astronaut::before {
  background-image: url("../image/icon/astronaut.svg");
}

.plan__advantage {
  font-size: 14px;
  line-height: 1.71;
}

.hero {
  background: #2f303a;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/home/team.jpg");
}

/*заголовок*/
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tetle-text);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/*Чем мы занимаемся*/
.about__list {
  display: flex;
  margin-right: -30px;
}

.about__item {
  flex-basis: calc((100% - 180px) / 3);
  margin-right: 30px;
  position: relative;
}

.about__item:last-child {
  margin-right: 0;
}

.about__title {
  color: var(--accent-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
}

/*наша команда*/
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-right: 30px;
}

.team__caption-list:last-child {
  margin-right: 0;
}

.team__img {
  display: flex;
  flex-basis: calc((100% - 360px) / 4);
  margin-right: 30px;
}

.team__caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__aside {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*наша команда текст*/
.team__desc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-bottom: 0;
  text-align: center;
}

.team-list__icon {
  display: flex;
  padding-top: 16px;
  justify-content: center;
}

.team__icon {
  margin-right: 10px;
  text-align: center;
}
.team__icon:last-child {
  margin-right: 0;
}

.team__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.team__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover .team__svg,
.team__link:focus .team__svg {
  fill: #ffffff;
}

/*Наши клиенты*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients__item {
  fill: #2196f3;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  fill: #afb1b8;
}

.clients-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.clients__icon:hover .clients__link,
.clients__icon:focus .clients__link {
  fill: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*футер*/
.footer {
  background: #2f303a;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo,
.header__logo {
  color: var(--primary-text-color);
}

.footer__visible {
  color: #f5f4fa;
  font-family: Raleway;
}

.footer__wrapper {
  margin-right: 70px;
}

.footer__link {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-tetle-text);
  margin-bottom: 9px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__phone,
.footer__mail {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-media__icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon:hover, .social-media__icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-media__network {
  width: 20px;
  height: 20px;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.social-media__list {
  display: flex;
}

.social-media {
  margin-right: 93px;
}

.social-media__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-media__team {
  margin-right: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__team:not(:last-child) {
  margin-right: 10px;
}

.social-media__network {
  fill: #ffffff;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-tetle-text);
}

.subscribe__form {
  display: flex;
}

.footer-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
}

.subscribe__form input::placeholder {
  padding: 16px;
}

.subscribe__form input {
  padding-left: 16px;
}

.subscribe__button {
  width: 200px;
  height: 50px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.subscribe__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-tetle-text);
  padding-right: 29px;
}

.subscribe__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 148px;
}

/* логотип */
.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__lable {
  color: var(--accent-color);
}

/* список ссылок навигации*/
.nav__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav__link:hover, .nav__link:focus {
  color: var(--primary-text-color);
}

/* кнопки */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__benefits {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__benesits:not(:last-child) {
  margin-right: 8px;
}

.features__button {
  cursor: pointer;
  color: var(--accent-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features__button:hover, .features__button:focus {
  color: #ffffff;
  background-color: var(--primary-text-color);
}
.features__button:hover, .features__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project__link:hover .project__active,
.project__link:focus .project__active {
  transform: translateY(0);
}

.project__card {
  overflow: hidden;
  position: relative;
}

.project__active {
  transform: translateY(100%);
  padding: 63px 24px;
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-tetle-text);
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* заголовок */
.project__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

/* текст */
.project__item,
.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.project__text {
  color: var(--title-text-color);
}

.project__description {
  padding: 20px 24px;
  margin: 0;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}/*# sourceMappingURL=main.css.map */