@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./base/base";

// components 

@import "./components/container";
@import "./components/header";
@import "./components/btn";
@import "./components/modal";
@import "./components/hero";
@import "./components/adout";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";


// components portfolio
@import "./components/portfolio/header";
@import "./components/portfolio/btn";
@import "./components/portfolio/project";






















