.header {
    border-bottom: 1px solid #ececec;
}

.container__nav {
    display: flex;
    align-items: center;
}

.header__link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.nav__list {
    display: flex;
}


.nav__item {
    margin-right: 50px;

    &:last-child {
        margin: 0;
    }
}



.nav__link:active {
    color: var(--primary-text-color);
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-text-color);
    }
}



.nav__link:active::after,
.nav__link:focus::after {
    opacity: 0;
}

.nav__link--active:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-text-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.nav__link--current {
    color: #2196f3;
}



/*контакты хедер*/
.header-contacts {
    display: flex;
    justify-content: flex-end;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__link {
    margin-right: 50px;
}


.contacts__icon--phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon--mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:last-child {
    margin-right: 0;
}

a:hover .contacts__icon--mail {
    fill: var(--primary-text-color);
}

a:focus .contacts__icon--mail {
    fill: var(--primary-text-color);
}



a:hover .contacts__icon--phone {
    fill: var(--primary-text-color);
}

a:focus .contacts__icon--phone {
    fill: var(--primary-text-color);
}

.contacts__phone,
.contacts__mail {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__phone:hover,
.contacts__phone:focus,
.contacts__mail:hover,
.contacts__mail:focus {
    color: var(--primary-text-color);
}