.hero {
    background: #2f303a;
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../image/home/team.jpg");


        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
            
        
        }
}


/*заголовок*/
.hero__title {
    display: block;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-tetle-text);
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
   

    @media screen and (min-width: 1200px) {
        max-width: 700px;
        font-size: 44px;
        line-height: 1.36;
    }



}