.hero {
    background: #2f303a;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../image/home/team.jpg");
}


/*заголовок*/
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-tetle-text);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

