.menu-btn{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: auto;

    background-color: transparent;
    border: transparent;
    outline: transparent;

    z-index: 99;

    @media screen and (min-width: 768px) {
        display: none;
    }

  
    &__icon{
        width: 40px;
        height: 40px;


        &-open{
            opacity: 0;
        }

        &-close{
            opacity: 1;
        }
    }
}

.menu-btn.is-active .menu-btn__icon-open{
    opacity: 1;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 0;
}


