/*секция особенности*/
.plan {
    padding-top: 94px;
    padding-bottom: 94px;
}


.plan__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
   

    @media screen and (min-width: 320px) and (max-width: 767px) {
      text-align: center;


    }
    


}

.plan__list {

    padding: 0;
    margin: 0;
    list-style: none;
    
  
    

    @media screen and (min-width: 767px) {
         display: flex;
         flex-wrap: wrap;
    

        margin-left: -30px;
        margin-top: -30px;
        
       
        
    
    
    }
    

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    
    
    }
    
}




.plan__item {
    
   

    @media screen and (min-width: 767px) {
        
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        

       
       

    
    
    }
    


    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
         margin-left: 30px;
         margin-top: 30px;
        
    
    }

    

   
}

.plan__item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.plan__icon::before {
    background-image: url("../image/icon/antenna.svg");
}

.plan__vector::before {
    background-image: url("../image/icon/clock.svg");
}

.plan__diagram::before {
    background-image: url("../image/icon/diagram.svg");
}

.plan__astronaut::before {
    background-image: url("../image/icon/astronaut.svg");
}


.plan__advantage {
    font-size: 14px;
    line-height: 1.71;
}