/*наша команда*/

.team {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list {
    display: flex;
}

.team__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    margin-right: 30px;
}

.team__caption-list:last-child {
    margin-right: 0;
}

.team__img {
    display: flex;
    flex-basis: calc((100% - 4 * 90px) / 4);
    margin-right: 30px;
}

.team__caption {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
}

.team__aside {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*наша команда текст*/
.team__desc {
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);
    margin-bottom: 0;
    text-align: center;
}

.team-list__icon {
    display: flex;
    padding-top: 16px;
    justify-content: center;
}

.team__icon {
    margin-right: 10px;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}


.team__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #ffffff;
        background-color: #2196f3;
    }
}



.team__svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover .team__svg,
.team__link:focus .team__svg {
    fill: #ffffff;
}