/* логотип */
.header__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}


.header__lable {
    color: var(--accent-color);
}

/* список ссылок навигации*/
.nav__link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    &:hover,
    &:focus {
        color: var(--primary-text-color);
    }
}

