.project__list {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;
    


    @media screen and (max-width: 767px) {
        
        justify-content: center;
    }
    
    @media screen and (min-width: 768px) {
        align-self: stretch;
        

    }
   
    
    


    
}


.project__item {
   margin-bottom: 30px;
   width: 450px;
   
    
    
    @media screen and (min-width: 768px) {
        width: 354px;
        margin-right: 30px;
        
        flex-basis: calc((100% - 30px)/2);
    }
    
    
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px)/3);
        width: 370px;

    }


    &:nth-child(2n) {
    
        @media screen and (min-width: 768px) and (max-width: 1199px)  {
            margin-right: 0;
        }
    
    
    
    }

    &:last-child{
        margin-bottom: 0;
    }

    
    &:nth-child(3n){
       
        @media screen and (min-width: 1200px) {
            margin-right: 0;
        }

       
        &:nth-last-child(-n + 3){
                    @media screen and (min-width: 1200px) {
                        margin-bottom: 0;
                    }
        }





    }

    


    



}



.project__link:hover .project__active,
.project__link:focus .project__active {
    transform: translateY(0);
}

.project__card {
    overflow: hidden;
    position: relative;
}

.project__active {
    transform: translateY(100%);
    padding: 63px 24px;
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-tetle-text);
    background-color: rgba(33, 150, 243, 0.9);
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.project__link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
     }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
    }
}
/* заголовок */




.project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

/* текст */

.project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.project__text {
    color: var(--title-text-color);
}

.project__description {
    padding: 20px 24px;
    margin: 0;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}